src/Example/MC_triad/Results/*
**/.ipynb_checkpoints
**/__pycache__
**/build
**/.DS_Store
**/Test
**/archive
src/Example/MC_triad/*.sh
src/Example/MC_triad/*.err
src/Example/MC_triad/*.out
src/Example/MC_triad/prediction.ipynb
src/Example/MC_triad/Results/*
src/env/*
slurm/*
turbulentfex_env/*