src/Example/MC_triad/Results/simulation_results.npz
src/Example/MC_triad/Results/log_dimension_1.txt
src/Example/MC_triad/Results/log_dimension_2.txt
src/Example/MC_triad/Results/log_dimension_3.txt
src/Example/MC_triad/Results/optimal_FEX_1.pth
src/Example/MC_triad/Results/optimal_FEX_2.pth
src/Example/MC_triad/Results/optimal_FEX_3.pth
src/Example/MC_triad/Results/optimal_idx_1.npy
src/Example/MC_triad/Results/optimal_idx_2.npy
src/Example/MC_triad/Results/optimal_idx_3.npy
